<p>updatestudent works!</p>
<h1>Update Student</h1>

<div id="formdiv">
    <form (ngSubmit)="updateStudent()">
        <label for="name">Enter Student Name</label><br>
        <input type="text" [(ngModel)]="studentData.name" name="name" required><br>

        <br>
        <label for="email">Enter Email</label><br>
        <input type="email" [(ngModel)]="studentData.email" name="email" required>
        <br>

        <label for="course">Enter Course Name</label><br>
        <input type="text" [(ngModel)]="studentData.course" name="course" required>
        <br>

        <button id="submitbtn" type="submit">Update Student</button>
    </form>

    <span>{{ successMessage }}</span>
</div>
